@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at bottom left,transparent 25%,#B3A38E 25.5%, #B3A38E 36%, transparent 37%, transparent 100%),radial-gradient(circle at top right,transparent 34%,#B3A38E 34.5%, #B3A38E 45.5%, transparent 46%, transparent 100%);
  background-size: 6em 6em;
  background-color: #42331A;
  opacity: 1;
}

h1, Form {
  color: white;
}

.favorite_position {
  display: flex;
  justify-content: space-between;
}


svg {
  height: 2em;
  width: 1.5em;
}

.signIn-button {
  background-color: #B8A07F;
  border: none;
  border-radius: 20pc;
  width: fit-content;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  color: #42331A;
}

.signIn-button:hover {
  background-color: #42331A;
  border: #B8A07F 1px solid;
  color: #B8A07F;
}

.signIn-image {
  color: wheat;
  margin-bottom: 20px;
}

.details {
  background-color: #B8A07F;
  border-radius: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 80px;
  width: fit-content;
  height: fit-content;
}

.hairstyle-image {
  height: 300px; 
  border-radius: 20px;
}

.hairstyle-card {
  width: 18rem; 
  margin: 20px 15px; 
  border-radius: 20px; 
  border: none;
  background-color: rgba(66, 51, 26, 0.5);
  color: whitesmoke;
}

.hairstyle-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.signIn-container {
  padding: 50px;
  max-width: 800px;
  margin: 100px auto;
  background-color: #42331A;
  border-radius: 50px;
}

.favorite {
  background-color: #42331A;
  border: none;
  padding: 0px 5px;
}

.favorite:hover {
  background-color: rgba(184, 160, 127, 0.5);
}

.star {
  color: gold;
}

.hairstyle-button {
  border-radius: 40px;
  padding: 0.5px 12px;
}

.hairstyle-editbutton {
  border-radius: 40px;
  padding: 0.5px 12px;
  margin: 0px 5px;
}

.form-background {
  /* display: inline-block; */
  background-color: rgba(184, 160, 127, 0.75);
  padding: 3em 5em;
  margin: 4em 13em;
  border-radius: 2em;
}

Label {
  color: #42331A;
  font-weight: bolder;
  font-size: large;
}

.form-title {
  text-align: center;
  color: #42331A;
  margin-bottom: 16px;
}

.form-button {
  margin: 0px 10px;
  background-color: #42331A;
  border: none;
  border-radius: 20pc;
  padding-left: 50px;
  padding-right: 50px;
  color: #B8A07F;
}

.form-button:hover {
  background-color: #B8A07F;
  border: #42331A 1px solid;
  color: #42331A;
}

.form-button-div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-image {
  margin-bottom: 16px;
}

.existing-hairstyle-image {
  height: 50px; 
  display: block; 
  margin-bottom: 10px;
}

.search {
  width: 40%; 
  margin: 20px auto;
  height: 40px;
}

.search-bar {
  background-color: rgba(184, 160, 127, 0.5);
  border: 2px solid #B8A07F;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.search input[type="search"]:focus {
  background-color: rgba(184, 160, 127, 0.5);
  color: white;
}

.side-bar {
  display: flex;
  height: 100vh;
  width: 300px;
  background-color: whitesmoke;

  a:hover {
    background-color: rgba(184, 160, 127, 0.5);
  }
}

.nav-link {
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #B8A07F;
}

.nav-link:hover {
  color: #42331A;
  cursor: pointer;
}

.closed {
  display: none;
}

.backgroundNone {
  background-color: transparent;
}

.backgroundWhite {
  background-color: whitesmoke;
  height: 150vh;
}

.sidebar {
  Button {
    margin: 0 105px;
  }
}

.type-filter {
  display: flex;
  flex-direction: row-reverse;

  button {
    background-color: #42331A;
    border: 1px solid #42331A;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  }
}

.detail-layout {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.review-section {
  border: 1px solid #B8A07F;
  background-color: #B8A07F;
  padding: 20px;
  border-radius: 0.5rem;
  width: 50rem;
}

.review-button {
  padding: 0px 8px 0px 5px; 
  background-color: transparent; 
  border: none; 
  margin-bottom: 5px;
  text-align: center;
}

.review-button:hover {
  background-color: #42331A;
}

.star-ratings {
  display: flex;
  flex-direction: row;
}
