@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at bottom left,transparent 25%,#B3A38E 25.5%, #B3A38E 36%, transparent 37%, transparent 100%),radial-gradient(circle at top right,transparent 34%,#B3A38E 34.5%, #B3A38E 45.5%, transparent 46%, transparent 100%);
  background-size: 6em 6em;
  background-color: #42331A;
  opacity: 1
}

h1, Form {
  color: white;
}
